.customContainer {
  position: relative;
  margin-top: 130px;
  margin-bottom: -120px;
}

.customSelect {
  width: 273px;
  height: 56px;
  border-radius: 10px;
  padding: 0 16px;  
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid #ccc;
  background-color: white;
  appearance: none;
}
select.customSelect {
  background-image:
    linear-gradient(45deg, transparent 50%, #59627B 50%),
    linear-gradient(135deg, #59627B 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    5px 5px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}
select.customSelect:focus {
  background-image:
    linear-gradient(45deg, #59627B 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #59627B 50%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #727D9C;
  outline: 0;
}


select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.customSelect option {
  background-color: #eff1f7;
  color: #1c2434;
  padding: 8px;
  font-family: Inter, sans-serif;
  font-size: 16px;
}
.label {
  position: absolute;
  top: -10px;
  left: 16px;
  font-size: 12px;
  color: #1c2434;
  background: white;
  padding: 0 4px;
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 1;
}

.label.hidden {
  opacity: 0;
}

 
.customSelect:focus + .label,
.customSelect:not(:placeholder-shown) + .label {
  opacity: 1;
}

 /* Para asegurar que el sidebar en móvil esté visible */
@media (max-width: 768px) {
  .doc-sidebar {
    display: block !important;  /* Asegúrate de que el sidebar no esté oculto */
  }

  /* Otros estilos del sidebar en dispositivos móviles */
  .mobile-menu-button {
    display: block;  /* Mostrar el botón de menú móvil */
  }

  /* Si es necesario, puedes ajustar el diseño del sidebar */
}