.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  background: #F6F7FB;
}

.features .container {
  max-width: 1228px;
}

.features h2 {
  color: hsl(205, 100%, 12%);
  margin-bottom: 40px;

  /* Desktop/H2 */
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 300;
  line-height: 52px; /* 123.81% */
  letter-spacing: -1.26px;
}

.col {
  padding-bottom: 1rem;
}

.card {
  border-radius: 12px;
  border: 1px solid #CED3DA;
  background: #FFF;
  height: 100%;
  margin-bottom: 1rem;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
