.features {
  display: flex;
  align-items: center;
  padding: 120px 0 0;
  background: var(--ifm-color-white);
  gap: 1.5rem;
}

.features h2 {
  color: hsl(205, 100%, 12%);
  margin-bottom: 40px;

  /* Desktop/H2 */
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 300;
  line-height: 52px; /* 123.81% */
  letter-spacing: -1.26px;
}

a.col {
  text-decoration: none;
}

.col {
  padding: 0 0.75rem 1.5rem;
}

.card {
  --ifm-spacing-horizontal: 0.25rem;

  border-radius: 12px;
  border: 1px solid #CED3DA;
  background: #FFF;
  height: 100%;
  padding: 1.5rem;
  overflow: hidden;
}

.card h3 {
  color: var(--Primary-Navy, #00233c);
  /* Desktop/H3 */
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 141.667% */
  letter-spacing: -0.24px;
  margin-bottom: 0;
}

.card p {
  color: var(--Gray-700, #333A3E);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.container {
  padding: 0 1.5rem;
}

.row {
  margin: 0 -0.625rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 0 2.5rem 0;
  }

  .col {
    --ifm-col-width: 50% !important;
  }

  .col2 {
    --ifm-col-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .features h2 {
    font-size: 26px;
    line-height: 36px; /* 138.462% */
    letter-spacing: -0.78px;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    padding: 0 6.625rem 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}


 

.links {
  display: inline-flex;
  color: var(--Gray-700, #333A3E);
  font-family: Inter;
  text-decoration: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

.links:hover{
  color: #FF5F02;
  text-decoration: none;
}

.pad{
  padding: 16px 0 8px 0;
}

.dot{
  align-items: center;
  display: inline-flex;
}

.dotPad{
  padding: 0 8px 0px 0;
}

.secondSubheading{
  text-align: center;
}

.toppicks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 0 0 16px 0;
}

.stayCon{
  padding: 0 0 8px 0;
}

.imgFoot{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 120px 0;
}
.imgFoot img {
  margin: 0 34px;  
}

.tabs{
  text-align: center;
  padding: 0 0 40px 0;
}

.tabs button {
  cursor: pointer;
  margin-right: 20px;
  outline: none;
  border-radius: 100px;
  padding: 16px 24px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s ease;
}

.inactive {
  background: var(--Primary-White, #FFF);
  color: var(--Primary-Navy, #00233C);
  border: 1px solid var(--Primary-Navy, #00233C);
}

.active {
  background: var(--Primary-Navy, #00233C);
  color: var(--Primary-White, #FFF);
  border: 1px solid var(--Gray-300, #B2B9C0);
}

.box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
  padding: 20px;
}
.head{
  padding: 70px 0 0 0;
  grid-column: 1 / 2; 
  grid-row: 1 / 2; 
}
.image {
  grid-column: 2 / 3; 
  grid-row: 1 / 4; 
  display: flex;
  justify-content: center;
  align-items: center;
}

 

.images {
  display: flex;
  align-items: center;
}



@media (max-width: 600px) {
  .imgFoot{
    display: grid;
    /*
    justify-content: center;
    align-items: center;*/
    padding: 0 0 30px 0;
    
  }
  
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0 40px 0;
  }
  .features {
    padding: 2.5rem 0 0;
  }
}

