/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.imgBanner{
  width: 498px !important;
}
.heroBanner {
  padding: 6rem 0 2rem;
/*  text-align: center;*/
  position: relative;
  background: none;
  color: #333A3E;
  z-index: 1;
}
.ali{
  text-align: left;
}

.heroBanner h1 {
  color: var(--Primary-Navy, #00233C);

  /* Desktop/H1 */
  font-family: "Inter", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px; /* 118.519% */
  letter-spacing: -1.62px;
  text-align: left;
}

.heroBanner p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.25px;
  text-align: left;
}

.heroBlur {
  width: 360px;
  overflow: visible;
  position: relative;
  z-index: -1;
  margin: auto;
  height: 260px;
  flex-shrink: 0;
  border-radius: 24px;
  margin-top: -260px;
  background: rgba(255, 85, 2, 0.60);
  filter: blur(50px);
}

.hero__title,
.hero__subtitle {
  text-align: left;
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  justify-content: start;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 1440px;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 0 1.5rem;
}

.buttons .getStartedButton {
  flex-direction: row;
  font-size: 1.125rem;
}

.buttons .getStartedButton:after {
  content: 'east';
  font-family: Material Symbols Outlined;
  margin-left: 0.5rem;
  pointer-events: none;
  position: relative;
  top: 1px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .heroBanner {
    padding: calc(57px + 2rem) 2.5rem 2rem;
  }

  .container {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .container > div:last-child {
    align-self: center;
    margin-bottom: 2.5rem;
    max-width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .heroBanner h1 {
    font-size: 32px;
    font-weight: 300;
    line-height: 42px; /* 131.25% */
    letter-spacing: -0.96px;
  }

  .heroBanner p {
    font-size: 18px;
    line-height: 26px;
  }

  .buttons .getStartedButton {
    font-size: 0.875rem;
    line-height: 22px;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    padding: 0 6.625rem 0;
    margin: 0 auto;
    width: 100%;
  }

  .heroBanner {
    padding: 3.5rem 0 4rem 0;
  }

  .buttons {
    margin-top: 2.5rem;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}


@media only screen and (max-width: 1024px) {
  .heroBlur {
    background: transparent;
  }
}

/* Default for large screens */
.imgW {
  max-width: 398px;
}

/* Tablet view */
@media (max-width: 1024px) and (min-width: 768px) {
  .imgW {
      max-width: 248px;
      margin-left: 120px;
  }
}

/* Mobile view */
@media (max-width: 768px) {
  .imgW {
    /*
      max-width: 243px;
      */width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .noPadding {
      padding: 3.5rem 0 0 0 !important;
  }
}