cv-code-snippet {
  background-color: var(--cv-theme-surface-container);
  --mdc-theme-surface-canvas: var(--cv-theme-surface-container);
  margin-bottom: var(--ifm-leading);
}

.codeBlockStandalone {
  padding: 0;
  background-color: var(--cv-theme-surface-container);
}

.codeBlockLines {
  font: inherit;
  /* rtl:ignore */
  float: left;
  min-width: 100%;
  padding: var(--ifm-pre-padding);
}
