/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

/* Import "Inter" font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --ifm-color-primary: var(--cv-theme-light-colors-primary);
  --ifm-color-primary-dark: #016b6b;
  --ifm-color-primary-darker: #036464;
  --ifm-color-primary-darkest: #045c5c;
  --ifm-color-primary-light: #008383;
  --ifm-color-primary-lighter: #009392;
  --ifm-color-primary-lightest: #00a2a2;
  --ifm-container-width-xl: 1258px;
  --ifm-navbar-height: 116px;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-color-secondary: #00233C;
  --ifm-color-success: var(--cv-theme-light-colors-positive);
  --ifm-color-info: var(--cv-theme-light-colors-neutral);
  --ifm-color-warning: var(--cv-theme-light-colors-caution);
  --ifm-color-danger: var(--cv-theme-light-colors-negatvive);

  --ifm-background-surface-color: var(--cv-theme-light-colors-surface);
  --ifm-color-secondary-contrast-background: var(--cv-theme-light-colors-surface-variant);
  --ifm-color-secondary-contrast-foreground: var(--cv-theme-light-colors-on-surface-container);


  --ifm-color-success-dark: var(--cv-theme-light-colors-positive);
  --ifm-color-success-contrast-background: var(--cv-theme-light-colors-positive-container);
  --ifm-color-success-contrast-foreground: var(--cv-theme-light-colors-on-positive-container);

  --ifm-color-danger-dark: var(--cv-theme-light-colors-negative);
  --ifm-color-danger-contrast-background: var(--cv-theme-light-colors-negative-container);
  --ifm-color-danger-contrast-foreground: var(--cv-theme-light-colors-on-negative-container);

  --ifm-color-warning-dark: var(--cv-theme-light-colors-caution);
  --ifm-color-warning-contrast-background: var(--cv-theme-light-colors-caution-container);
  --ifm-color-warning-contrast-foreground: var(--cv-theme-light-colors-on-caution-container);

  --ifm-color-info-contrast-background: var(--cv-theme-light-colors-primary-container);
  --ifm-color-info-contrast-foreground: var(--cv-theme-light-colors-on-primary-container);
  --ifm-color-info-dark: var(--cv-theme-light-colors-primary);
  --ifm-breadcrumb-item-background-active: none;
  --ifm-breadcrumb-color-active: #5e7484;
  --mdc-theme-surface-canvas: var(--cv-theme-surface-container);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.plugin-pages body {
  background: url(/img/dots_pattern_hero.png) no-repeat right 0;
  background-size: contain;
}

.button.button--secondary {
  color: #ffffff;
  border-radius: 12px;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

aside.theme-doc-sidebar-container {
  border-right: none;
}

.markdown h1:first-child {
  color: #00233C;

  /* Desktop/H1 */
  font-family: "Inter", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px; /* 118.519% */
  letter-spacing: -1.62px;
  margin-bottom: 64px;
}

.markdown h2 {
  color: #00233C;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
}

.markdown p {
  color: var(--Gray-700, #333A3E);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
/* html[data-theme='dark'] {
  --ifm-color-primary: #59cecd;
  --ifm-color-primary-dark: #2cc0bf;
  --ifm-color-primary-darker: #00b2b1;
  --ifm-color-primary-darkest: #00a2a2;
  --ifm-color-primary-light: #85dddc;
  --ifm-color-primary-lighter: #b2ebea;
  --ifm-color-primary-lightest: #def9f8;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-navbar-background-color: #28353b;
  --ifm-background-color: #161c1f;
  --ifm-footer-background-color: var(--ifm-navbar-background-color);
} */

.navbar {
  background-color: unset;
  box-shadow: none;
  display: unset;
  height: unset;
  padding: 0;
}

.navbar__logo {
  height: 1.5rem;
}

.footer--dark {
  --ifm-footer-background-color: #28353b;
}

html:not(.plugin-pages) .main-wrapper {
  padding: 6.75rem calc(1.5rem - var(--ifm-spacing-horizontal)) 0;
  max-width: 1440px;
  box-sizing: border-box;
}

html:not(.plugin-pages).plugin-search-algolia .main-wrapper {
  padding: 3.75rem 0;
}

.theme-doc-sidebar-container .menu {
  padding-top: 1rem;
  padding-left: 0;
  padding-right: 16px;
}

.menu__link {
  border-radius: var(----mdc-list-side-padding, 16px);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.25px;

  --ifm-menu-link-padding-vertical: 4px;
  --ifm-menu-link-padding-horizontal: 12px;
  --ifm-menu-color: #5c5b5fff;
  --ifm-menu-color-active: #171a2c;
  --ifm-menu-color-background-active: #dfe1f9;
  --ifm-menu-color-background-hover: #1e1d1e14;
}

.menu__caret,
.menu__link--sublist-caret {
  --ifm-menu-link-sublist-icon: url('/img/arrow-icon.svg');
  --ifm-menu-color-background-hover: none;
}

.menu__list-item--collapsed {
  .menu__caret:before {
    transform: rotateZ(0);
    margin-left: calc(var(--ifm-menu-link-padding-horizontal) / 2);
  }

  .menu__link--sublist-caret:before {
    transform: rotateZ(0);
  }
}

.menu__link--sublist-caret:after {
  display: none;
}

.menu__link--sublist-caret:before {
  content: '';
  background: var(--ifm-menu-link-sublist-icon) 50% / 2rem 2rem;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  height: 1.25rem;
  transform: rotate(90deg);
  width: 1.25rem;
  transition: transform var(--ifm-transition-fast) linear;
}

.menu__caret:before {
  transform: rotateZ(90deg);
  margin-left: calc(var(--ifm-menu-link-padding-horizontal) / 2);
}

.menu__caret {
  padding: 0;
}

.menu__link--sublist-caret:before {
  margin-right: var(--ifm-menu-link-padding-horizontal);
  margin-left: calc(var(--ifm-menu-link-padding-horizontal) / -2);
}

.menu__list-item-collapsible {
  border-radius: var(----mdc-list-side-padding, 16px);
  flex-direction: row-reverse;
}

.menu__list-item-collapsible--active {
  background-color: #dfe1f9;
}

.menu__list .menu__list {
  padding-left: 24px;
}

.breadcrumbs__item:first-child .breadcrumbs__link {
  padding-left: 0;
}

.breadcrumbs__link {
  color: var(--ifm-color-secondary);
  font-size: 0.75rem;
}

:where(.button--secondary):not(.button--outline):hover {
  --ifm-button-background-color: var(--cv-theme-light-colors-tertiary);
  --ifm-button-border-color: var(--cv-theme-light-colors-tertiary);
  color: var(--cv-theme-light-colors-on-tertiary);
}

cv-code-snippet {
  background-color: var(--cv-theme-surface-container);
  --mdc-theme-surface-canvas: var(--cv-theme-surface-container);
  margin-bottom: var(--ifm-leading);
}

html.plugin-search-algolia .main-wrapper {
  --ifm-container-width-xl: 1440px;
  background-color: #f6f7fb;
}

html.plugin-search-algolia .main-wrapper .container {
  padding: 0 2rem;
}

@media screen and (min-width: 1025px) {
  html:not(.plugin-pages) .main-wrapper {
    padding: 0 6.625rem 0;
    margin: 0 auto;
    width: 100%;
  }
  html:not(.plugin-pages).plugin-search-algolia .main-wrapper {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }

  html:not(.plugin-pages).plugin-search-algolia .main-wrapper .container {
    padding: 0 6.625rem;
  }
}

html[data-navbar='false'] .navbar {
  display: none;
}
